* {
	color: #333;

}
body {
	overflow-x:hidden; 
}

#site-info {
	font-size: 15px;
	color: black;
	font-weight: normal;

}

.navbar-top {

	padding: 2px;

}

.contact-info {
	padding: 3px;
	border-top:.5px silver solid;

}



#navbar {
	background: white;
	margin:0;
	height: 20px;
}

#nav {
	float: none;
	display: inline-block; 
}

#nav li a {
	color: black;
	font-size: 16px;
}

#nav li a i {
	font-size: 28px;
	position: absolute;
	top: 6.8px;
	left: -7px;

}

#nav li a:hover {
	color: #255bba;
}

.active-link {
	color: #255bba;
}

.active-home {
	color: #db6b08;
}

#nav li a i:hover {
	color: #db6b08;
}

.col-md-3 {
	margin:0;
	padding:0;
}

.col-md-3 img {
	min-height: 250px;
	max-height: 250px;

}

.info {
	padding: 10px;
	background: #535c6b;
	text-align: center;
	color: white;
	font-size: 12px;
}

.info i {
	color: white;
	font-size: 15px;
}

#services {
	margin-top: 100px;
	min-height: 580px;
	margin-bottom: 100px;
	padding-top: 50px;
}

#services .col-md-6 {
	height: 300px;
}



.services-image:hover {
	padding: 20px;
	cursor: pointer;

}

.list {
	margin-bottom: 30px;
}

#menu {
	margin: 20px 0;
}
.menu {
	height: 260px;
	border: solid 0.5px silver;
}

.menu .menu-image {
	height: 170px;
	width: 100%;
	padding: 10px;
	position: relative;
}

.menu .menu-image .fa-search {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 38px;
	color: #333;
	transform: translate(-50%,-50%);
	display: none;
}

.menu .menu-image:hover {
	opacity: .5;
}

.menu .menu-image img {
	height: 100%;
	width: 100%;
}

.menu .menu-info {
	padding: 0 10px 10px 10px;
}

.name {
	font-size: 16px;
	line-height: 1.2;
}

.price {
	font-size: 14px;
	line-height: 1.2;
	
}

.buy-btn {
	
}

#catering {
	background: white;
	margin:20px 0;

}

#home-image-slider {
	position: relative;
}

#home-image-slider .fa-arrow-right {
	position: absolute;
	right: 0;
	top: 45%;
	bottom: 50%;
 	transform: translate(-50%,-50%);
 	font-size: 38px;
 	opacity: .5;
}

#home-image-slider .fa-arrow-left {
	position: absolute;
	left: 25px;
	opacity: .5;
	top: 45%;
	bottom: 50%;
 	transform: translate(-50%,-50%);
 	font-size: 38px;
}

.location-body iframe {
	width: 100%;
}

footer {
	padding: 50px 0;
	border-top: solid .5px silver;
	margin-top: 60px;
}

footer h1 {
	color: black;
	font-size: 22px;
}

.get-in-touch {
	list-style-type: none;
	padding: 0;
}

.direction iframe {
	width: 100%;

}

.get-in-touch li a {
	font-size: 18px;
	color: black;
}

.get-in-touch li a i {
	font-size: 18px;
}

.footer {
	background: #333;
	border-top: .5px solid white;
}

.footer div p {
	color: white;
	padding: 20px;
	margin-bottom: 0;
}

.fa-facebook-square {
	color: black;
}

.fa-youtube-square {
	color: 	black;
}

.fa-google-plus-square {
	color: black;
}

.fa-twitter-square {
	color: black;
}

.contacts_info {
	padding: 10px;
}

#image-modal {
 	position: fixed;
 	top: 0;
 	bottom: 0;
 	left: 0;
 	right: 0;
 	height: 100%;
 	width: 100%;
 	z-index: 100;
 	background-color: rgba(0,0,0,0.4);	
 	display: none;
 	padding: 35px 50px;
}

.modal-body {
	height: 100%;
	width: 100%;
	background: white;
	z-index: 1000;
	overflow: auto;

}

#close-btn:hover {
	cursor: pointer;
	opacity: .5;
}

.modal-body .col-md-8 img {
	width: 100%;
	max-height: 530px;
	min-height: 530px;
	border-radius: 10px;
}

.modal-body i {
	font-size: 25px;
	position: absolute;
	right: 8px;
	top: 5px;
	color: grey;
	font-weight: normal;
}

.comment-section {
	margin-top: 50px;
}

@media screen and (max-height: 595px) {
  #image-modal {
  	padding: 2px;
  }
}

@media screen and (max-height: 630px) {
  #image-modal {
  	padding: 20px;
  }
}